.main-checkbox {
	height: 25px;
	width: 25px;
	border: 1px solid #ff7179;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.checked {
	background-color: #ff7179;
}

.check-icon {
	color: #fff;
}